*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif

}
body{
    background-color: #fff;
}
.intro{
    background-color: tomato;
    margin: 10px;
    color: black;
    font-size: large;
    border-radius: 12px;
    padding: 10px;
}
.intro h1{
    margin-bottom: 12px;
}
.items{
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}
.card:hover{
    border: 6px solid red;
}
#icon{
    font-size: 60px;
    color: red;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}
.card-content p{
    line-height: 1.4;
    font-weight: 100;
}
hr{
    border-color: red;
}

.tips{
    margin: 10px;
    font-size: large;
    border-radius: 12px;
    padding: 10px;
}
.tips h2{
    text-align: center;
    color: red;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 16px;
}
#para{
    text-align: center;

}
.tip{
    background-color: red;
    border-radius: 12px;
    padding: 12px;
    margin: 10px;
    line-height: 1.5;
}
.tip h4{
    font-size: 18px;
}
.tip p{
    margin-left: 30px;

}
.tip img{
    height: 200px;
    width: 200px;
    margin-left: 350px;
    border-radius: 50%;
}

.tip:hover{
    border: 6px solid green;
}
footer{
    
    padding: 30px;
    background-color: tomato;
    width: 100%;
    height: 100px;
    text-align: center;
}
footer p{
    font-size: 18px;
    margin-bottom: 10px;
}
footer a{
    font-size: 30px;
    margin: 5px;
    color: #f0f0f0;
}
footer a:hover{
    color: red;
}
